
.checkbox input {
  display: none;
}

.checkbox .checkbox-container {
  box-sizing: border-box;
  width: 1.5em;
  height: 1em;
  border-radius: 0.5em;
  @apply bg-gray-300;
}
.checkbox .checkbox-indicator {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.7);
  transition: all linear 400ms;
  @apply bg-gray-500;
}

.checkbox input:checked + .checkbox-container .checkbox-indicator {
  transform: translateX(0.5em) scale(0.7);
  @apply bg-blue-300;
}
